


.fira-sans-thin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

/* nave style */
nav{
display: flex;
justify-content: space-between;
margin:20px 160px 20px 160px ;
align-items: center;
}
.nav-title{
    font-weight: 700;
    font-size: 32px;
}
nav ul li{
    list-style: none;
}
.btn{
   color: #006A50;
    border-radius: 5px;
    border-color: #006A50;
    padding: 10px 30px;
    
}

/* banner style */
.banner-main{
    padding: 0 160px 0 160px;
}
.banner{
    display: flex;
    padding: 80px 80px 80px 80px;
    background: rgb(198, 228, 214);
    border-radius: 24px;
}
.benner-title{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-mining{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}
.button{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 22px 19px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-pic{
    width: 400px;
}