


.fira-sans-thin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

/* nave style */
nav{
display: flex;
justify-content: space-between;
margin:20px 160px 20px 160px ;
align-items: center;
}
.nav-title{
    font-weight: 700;
    font-size: 32px;
}
nav ul li{
    list-style: none;
}
.btn{
   color: #006A50;
    border-radius: 5px;
    border-color: #006A50;
    padding: 10px 30px;
    
}

/* banner style */
.banner-main{
    padding: 0 160px 0 160px;
}
.banner{
    display: flex;
    padding: 80px 80px 80px 80px;
    background: rgb(198, 228, 214);
    border-radius: 24px;
}
.benner-title{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-mining{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}
.button{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 22px 19px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-pic{
    width: 400px;
}

/* card-1-style */
.card-1{
  padding: 0 160px; 
  padding-top: 30px;
  border-radius: 20px;
}
.card-3{
    display: flex;
    gap: 32;
    padding: 15px;
}
.card-1-h4{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 10px;  
}

.card-1-content{
    width: 300px;
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

 .card-1-img{
   width: 60px;
   height: 60px;
}
.card-1-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.card-1-dicription{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
} 

/* The Vision of Future */

.flax-center{
    padding: 0 165px;
}
.the-vision{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.bangladesh{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 32px;
}

/* button-2-style */
.card-2-title{
display: flex;
gap: 24px;
padding-bottom: 32px;
}
.cart-2-content{
    padding: 20px;
}


.card-2-mining{
width: 49.66px;
height: 53.09px;
left: 13.34px;
top: 1px;
}
.card-2-larn{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.card-2-p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.button-peraimari{
    border-radius: 8px;
    width: 100px;
    height: 41px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}
.card-2-finis{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}
.card-2-then{
    border-radius: 16px;
    background: rgb(198, 228, 214);
}
.card-mor{
    border-radius: 16px;
    background: rgb(247, 235, 207);
}
.button-head{
    background: rgb(84, 144, 245);
}
.button-sub{
    background: rgb(9, 161, 92);
}
.button-last{
    background: rgb(255, 194, 57);
}

/* background-img-style */
.bac-img{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background-image:  url('../assets/quote-bg.png');
    background-repeat: no-repeat;
}
.bac-img-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.bac-img-content{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.bac-img-sub-content{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;  
}


/* Recent-News */
.Recent-News{
    padding: 0 160px;
}
.Recent-h4{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.Recent-p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
/*  */
.Launches-center{
    padding: 0 160px 0 160px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}
.Launches{
    display: flex;
    gap: 32px;
}
.Launches-img{
    border-radius: 24px;
    width: 408px;
    height: 306px;
    margin: 48px 28px;
}

.Read-More-h{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.Read-More-date{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.Read-More-date-2{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    align-items: center;
}
.Read-More-p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.Read-More-button{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 108px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}
/* about styls */
.about{
   max-width: 1084px;
   margin: 0 auto;
}
.section-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.section-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

/* abott-items */
.abott-items{
    display: flex;
    justify-content: space-between;
}
.about-item{
     color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 0px 24px;
    background: rgb(255, 255, 255);
}
.item-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.bg-color{
    background-color:rgb(198, 228, 214);
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 10px;
}
input type{
    width: 1000px;
}
.input-taxt{
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
}
.input-land{
    display: flex;
    align-items: center;
    gap: 24;
    margin: 32px 0px;
    padding: 20px 40px 20px 40px;
    width: 1032px;
    height: 20px;
    color: rgba(14, 14, 14, 0.3);
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    border: none;
     font-family: Fira Sans;
     font-size: 16px;
     font-weight: 400;
     line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}
.button-jan{
    display: flex;
    justify-content: center;
}
.button-linex{
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 17px 34px 17px 34px;
}

/* Subscribe */
.Subscribe-1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.Subscribe-2{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
/*  */
.hand{
    padding: 0 160px;
    padding-top: 32px;
}
.last-section{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1080px;
    height: 395px;

}
.email-fil{
display: flex;
justify-content: center;
}
.hed-input{
width: 600px;
height: 20px;
gap: 24;
padding: 18px 40px 18px 40px;
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.button-pb{
    width: 155px;
    height: 60px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    border: none;
}
.last-pp{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
}

/* footer-section */
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section h4{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.footer-section-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
